<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chatting page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- material icons link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="chatstyle.css">

</head>
<body>
    <div class="container" style="margin-top:70px;max-height:85%">
        <div class="row no-gutters"> <!--no-gutters remove the padding added by the bootstrap-->
            <div class="col-md-4 border-right" id="my-chats" style="height : 800px;">
                <div class="settings-trey">
                    <img class="profile-image"src = "face.png" alt="Profile image">
                    <span class="settings-trey--right float-right">
                        <i class="material-icons">cached</i>
                        <i class="material-icons">message</i>
                        <i class="material-icons">menu</i>
                    </span>
                </div>
                <div class="search-box">
                    <div class="input-wrapper">
                        <i class="material-icons">search</i>
                        <input type="text" placeholder="search here">
                    </div>
                </div>

                <div class="friend-drawer friend-drawer--onhover">
                    <img src="friend.png" class="profile-image" alt="Friend photo">
                    <div class="text">
                        <h6>ROBO COP</h6>
                        <p>hey how are you</p>
                    </div>
                    <span class="time small">13:12</span>
                </div>
                <hr>

                
                <!--*****************  -->
            </div>
            
            <!-- Right part starts here -->
            <div class="col-md-8" style="height : 800px;">
                <div class="settings-trey">
                    <div class="friend-drawer no-gutters friend-drawer--grey" style="padding: 0;">
                        <img class="profile-image" src="friend.png" alt="friend-image">
                        <div class="text">
                            <h6 id="chatTop">Robo cop</h6>
                            <p id="chatTopStatus">put  any status.....</p>
                        </div>
                        <span class="float-right">
                            <i class="material-icons">cached</i>
                            <i class="material-icons">message</i>
                            <i class="material-icons">menu</i> 
                        </span> 
                    </div>
                </div>
                <div class="chat-panel" id="chat">
                    <!-- <div class="row no-gutters">
                        <div class="col-md-3">
                            <div class="chat-bubble chat-bubble--green chat-bubble--left">
                                hello dude
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="row no-gutters">
                        <div class="col-md-3 offset-md-9">
                            <div class="chat-bubble chat-bubble--cyan chat-bubble--right">
                                hi param
                            </div>
                        </div>
                    </div> -->
                </div>
                   
                    
                    <div class="row" >
                       <div class="col-12" style="position: absolute; bottom: 0;">
                            <div class="chat-box-tray">
                                    <!-- <i class="material-icons">sentiment_very_satisfied</i> -->
                                    <form id="send-message">
                                        <input id="message" type="text" placeholder="Type Your Message...">
                                        <button type="submit" >send</button>
                                        <!-- <button><i class="material-icons">mic</i></button> -->
                                       <!-- <span><input type="submit" /><i class="material-icons">send</i></span> -->
                                    </form>
                            </div>
                       </div>
                    </div>
                
                
            </div>
        </div>
    </div>

</body>
<script src = "http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    // $('.friend-drawer').on('click',function(){
    //     $('.chat-bubble').hide('slow').show('slow')
    // })
</script>
<script>
    const senderid  = "<%= obj._id %>"
    let currReceiverid;
    let currPersonchatid;
    var socket = io.connect();
    var $messageForm = $('#send-message')

    socket.emit('new user' ,senderid ,function(data){
        if(data)
        {
            console.log('Valid User ')
        }
        else
        {
            console.log('not valid already logged in')
        }
    })
    socket.on('wisper' , function(data){
        console.log('@@@@@@@@@   IN WISPERRR @@@@@@@@@'+data.senderName)
        console.log(data)
        if(data.senderid == currReceiverid)
        {
            var ob = {}
            ob.senderName = data.senderName
            ob.chat = data.msg
            addChatHistoryDom(ob)
        }

    })
    $messageForm.submit(function(e){
            e.preventDefault();

            // this object is for mesg to append in the chat
            var mesgObj = {}
            mesgObj.chatid = currPersonchatid
            mesgObj.senderName = "<%= obj.username %>"
            mesgObj.chat =  $('#message').val();
            // mesgObj.sendTime = 

            console.log(mesgObj)
            var request = new XMLHttpRequest();
            var filename = '/addChatToDb'
            request.open('POST',filename)
            request.setRequestHeader("content-Type","application/JSON")
            request.send(JSON.stringify(mesgObj));
            request.onload = function()
            {
                console.log(request.responseText)
                 var socketob = new Object()
                 socketob.senderid = "<%= obj._id %>"
                 socketob.recieverid =  currReceiverid;
                 socketob.chat =  mesgObj.chat 
                 socketob.senderName = "<%= obj.username %>"

                

                socket.emit('send-message',socketob,function(data){
                    
                    // $chat.append('<span class="error"><b>'+data+ '</span><br/>')
                    
                    // data from callback
                    console.log(data)
                    var senderOb = {};
                    senderOb.senderName = "<%= obj.username %>"
                    senderOb.chat = mesgObj.chat 
                    addChatHistoryDom(senderOb)
                })
            }
            
    })

    
    fetchMyChats();

    
    function fetchMyChats()
    {
        var ob = new Object()
        ob.id = "<%= obj._id %>"
        var request = new XMLHttpRequest();
        var filename = '/getChats'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            console.log(request.responseText)
            console.log('%%%%%%%%%%%%%%%')
            var arrOfObject = JSON.parse(request.responseText)
            console.log(arrOfObject)
            console.log('&&&&&&&&&&&&&&&&&')
            console.log(arrOfObject.personchat)

            console.log('************')
            // personchat is an array 
            for(var i=0;i<arrOfObject.personchat.length ; i++)
            {
                var chatobj = arrOfObject.personchat[i];
                console.log(chatobj)
                
                if(chatobj.members[0]._id == "<%= obj._id %>")
                    addToChatDom(chatobj.members[1],arrOfObject.personchat[i]._id)
                else
                    addToChatDom(chatobj.members[0],arrOfObject.personchat[i]._id)
            }
        }
    }
    function addToChatDom(mychatPerson , connectedchatId)
    {
        console.log('^^^^^^^^^^^^^^^^^^^')
        console.log(mychatPerson)
        console.log(connectedchatId)

        var html=''
        // html+='<div id="myfrienddiv'+mychatPerson._id+'"><a>'+mychatPerson.username+ '</a><button onclick=sendChat("'+mychatPerson.username+'","'+mychatPerson._id+'","'+connectedchatId+'")>chat</button></div>'
        // $('#my-chats').append(html)

       html+= '<div class="friend-drawer friend-drawer--onhover"  onclick=sendChat("'+mychatPerson.username+'","'+mychatPerson._id+'","'+connectedchatId+'")>'
                    +'<img src="friend.png" class="profile-image" alt="Friend photo">'
                    +'<div class="text">'
                        +'<h6>'+mychatPerson.username+ '</h6>'
                        +'<p>add status</p>'
                    +'</div>'
                    +'<span class="time small">13:12</span>'
                +'</div>'
                +'<hr>'
        $('#my-chats').append(html)
         
    }
    function sendChat(friendUsername ,friendId , connectedchatId ,friendstatus)
    {
        $('#chatTop').html('');
        $('#chatTop').html(friendUsername)
        $('#chatTopStatus').html('');
        $('#chatTopStatus').html(friendstatus);
        $('#chat').html('');
        
        currReceiverid = friendId
        currPersonchatid = connectedchatId
        console.log('%%%%%%%%%%%%%%'+currReceiverid+'%%%%%%%%%%%%%')
        // get the chat messages from the database
        var ob = {}
        ob.chatid = connectedchatId;
        var request = new XMLHttpRequest();
        var filename = '/getChatHistory'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            // console.log(request.responseText)
            var arr = JSON.parse(request.responseText)
            // arr contanins messages and id of the chat
            console.log(arr)
            console.log('!!!!!!!!!!!!!!')
            for(var i = 0;i<arr.message.length;i++)
            {
                // console.log(arr.message[i])
                addChatHistoryDom(arr.message[i]);
            }
        }
        // get messages and append to message dom
    }
    function addChatHistoryDom(ob)
    {
        console.log(ob)
        var html='';
        html+='<div><button class="btn btn-primary">'+ob.senderName+'</button><br><div>'+ob.chat+'</div></div><br>'
       
        if(ob.senderName == "<%= obj.username %>")
        {
            html+='<div class="row no-gutters">'
                +'<div class="col-md-3 offset-md-9">'
                    +'<div class="chat-bubble chat-bubble--cyan chat-bubble--right">'
                      +ob.chat+
                    '</div>'
                 +'</div>'
           +'</div>'
        }
        else
        {
            html+= '<div class="row no-gutters">'
                +'<div class="col-md-3">'
                    +'<div class="chat-bubble chat-bubble--green chat-bubble--left">'
                        +ob.chat+
                    '</div>'
                +'</div>'
            +'</div>'
        }

        $('#chat').append(html)
    }


</script>
</html>