<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>DashBoard</title>
</head>
<body>
    <div class="container">
        <div>
            <center><h1><%= obj.username %></h1></center>
        </div>
        <div class="row">
            <div class="col-sm">
                <buttton class="btn btn-primary"><a onclick="fetchfriends()">Friends</a></buttton>
                <div id="my-friends">

                </div>
            </div>
            <div class="col-sm">
                <buttton class="btn btn-primary"> <a onclick="fetchrequest()">Requests</a></buttton>
                <div id="my-requests">

                </div>
            </div>
            <div class="col-sm">
                <buttton class="btn btn-primary"> <a onclick="addfriends()">Add Friends</a></buttton>
                <div id="add-friends">

                </div>
            </div>
        </div>

        <br/>
        <br/>
        <!-- Beginging of the chat dom -->
        <center><h3>Chatss</h3></center>
        <div class="row">
            <div class="col">
                <center><h3>Chats</h3></center>
                <buttton class="btn btn-primary" onclick="fetchMyChats()"><a>My Chats</a></buttton>
                <div id="my-chats">

                </div>
            </div>
            <div class="col">
                <center><h3>chat area</h3></center>
                <div id="contentWrap">
                    <div id="chatWrap">
                        <center><div id="chatTop"></div></center>
                         <div id="chat" style="height:450px;border : 1px #000 solid;">
                        </div>
                             <form id="send-message">
                                 <input size="35" id="message" />
                                 <input type="submit" />
                             </form>
                    </div>
                    <div id="users">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src = "http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    const senderid  = "<%= obj._id %>"
    let currReceiverid;
    let currPersonchatid;
    var socket = io.connect();
    var $messageForm = $('#send-message')


    socket.emit('new user' ,senderid ,function(data){
        if(data)
        {
            console.log('Valid User ')
        }
        else
        {
            console.log('not valid already logged in')
        }
    })
    socket.on('wisper' , function(data){
        console.log('@@@@@@@@@   IN WISPERRR @@@@@@@@@'+data.senderName)
        console.log(data)
        if(data.senderid == currReceiverid)
        {
            var ob = {}
            ob.senderName = data.senderName
            ob.chat = data.msg
            addChatHistoryDom(ob)
        }

    })
    $messageForm.submit(function(e){
            e.preventDefault();

            // this object is for mesg to append in the chat
            var mesgObj = {}
            mesgObj.chatid = currPersonchatid
            mesgObj.senderName = "<%= obj.username %>"
            mesgObj.chat =  $('#message').val();
            // mesgObj.sendTime = 

            console.log(mesgObj)
            var request = new XMLHttpRequest();
            var filename = '/addChatToDb'
            request.open('POST',filename)
            request.setRequestHeader("content-Type","application/JSON")
            request.send(JSON.stringify(mesgObj));
            request.onload = function()
            {
                console.log(request.responseText)
                 var socketob = new Object()
                 socketob.senderid = "<%= obj._id %>"
                 socketob.recieverid =  currReceiverid;
                 socketob.chat =  mesgObj.chat 
                 socketob.senderName = "<%= obj.username %>"

                

                socket.emit('send-message',socketob,function(data){
                    
                    // $chat.append('<span class="error"><b>'+data+ '</span><br/>')
                    
                    // data from callback
                    console.log(data)
                    var senderOb = {};
                    senderOb.senderName = "<%= obj.username %>"
                    senderOb.chat = mesgObj.chat 
                    addChatHistoryDom(senderOb)
                })
            }
            
    })
    
    function fetchMyChats()
    {
        var ob = new Object()
        ob.id = "<%= obj._id %>"
        var request = new XMLHttpRequest();
        var filename = '/getChats'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            console.log(request.responseText)
            console.log('%%%%%%%%%%%%%%%')
            var arrOfObject = JSON.parse(request.responseText)
            console.log(arrOfObject)
            console.log('&&&&&&&&&&&&&&&&&')
            console.log(arrOfObject.personchat)

            console.log('************')
            // personchat is an array 
            for(var i=0;i<arrOfObject.personchat.length ; i++)
            {
                var chatobj = arrOfObject.personchat[i];
                console.log(chatobj)
                
                if(chatobj.members[0]._id == "<%= obj._id %>")
                    addToChatDom(chatobj.members[1],arrOfObject.personchat[i]._id)
                else
                    addToChatDom(chatobj.members[0],arrOfObject.personchat[i]._id)
            }
        }
    }
    function addToChatDom(mychatPerson , connectedchatId)
    {
        console.log('^^^^^^^^^^^^^^^^^^^')
        console.log(mychatPerson)
        console.log(connectedchatId)

        var html=''
        html+='<div id="myfrienddiv'+mychatPerson._id+'"><a>'+mychatPerson.username+ '</a><button onclick=sendChat("'+mychatPerson.username+'","'+mychatPerson._id+'","'+connectedchatId+'")>chat</button></div>'
        $('#my-chats').append(html)
         
    }
    
    function sendChat(friendUsername ,friendId , connectedchatId)
    {
        $('#chatTop').html('');
        $('#chat').html('');
        $('#chatTop').html(friendUsername)
        currReceiverid = friendId
        currPersonchatid = connectedchatId
        console.log('%%%%%%%%%%%%%%'+currReceiverid+'%%%%%%%%%%%%%')
        // get the chat messages from the database
        var ob = {}
        ob.chatid = connectedchatId;
        var request = new XMLHttpRequest();
        var filename = '/getChatHistory'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            // console.log(request.responseText)
            var arr = JSON.parse(request.responseText)
            // arr contanins messages and id of the chat
            console.log(arr)
            console.log('!!!!!!!!!!!!!!')
            for(var i = 0;i<arr.message.length;i++)
            {
                // console.log(arr.message[i])
                addChatHistoryDom(arr.message[i]);
            }
        }
        // get messages and append to message dom

    }
    function addChatHistoryDom(ob)
    {
        console.log(ob)
        var html='';
        html+='<div><button class="btn btn-primary">'+ob.senderName+'</button><br><div>'+ob.chat+'</div></div><br>'
        $('#chat').append(html)

    }

    
    function fetchfriends()
    {
        var ob = new Object();
         ob.id = "<%= obj._id %>"

        var request = new XMLHttpRequest();
        var filename = '/getFriends'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            var arrOfObject = JSON.parse(request.responseText)
            var friendArr = arrOfObject.friend
            for(var i=0;i< friendArr.length;i++)
            {
                myfrienddom(friendArr[i])
            }
        
        }
    }
    function myfrienddom(ob)
    {
        var html=''
        html+='<div id="myfrienddiv'+ob._id+'"><a>'+ob.username+ '</a></div>'
        $('#my-friends').append(html)
    }


    function addfriends()
    {
        var ob = new Object();
        ob.id = "<%= obj._id%>"

        console.log(ob);

        var request = new XMLHttpRequest();
        var filename = '/addFriends'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {

            console.log(request.responseText);
            var arrOfObject = JSON.parse(request.responseText)
            for(var i=0;i<arrOfObject.length;i++)
            {
                addFriendDom(arrOfObject[i]);
            }
        
        }
    }
    function addFriendDom(ob)
    {
        // onclick=toggleDiscussionpublish("'+obj._id+'")
        // id="publishDiscussion'+obj._id+'"
        var html=''
        html+='<div id="addfrienddiv'+ob._id+'"><a>'+ob.username+ '</a><button onclick=sendRequest("'+ob._id+'")>Add Friend</button></div>'
        $('#add-friends').append(html)
    }
    function sendRequest(id)
    {
        $('#addfrienddiv'+id).hide();
        var ob = new Object();
        ob.id = id;
        var request = new XMLHttpRequest();
        var filename = '/sendRequest'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            console.log(request.responseText)
        }
    }
    function fetchrequest()
    {
        var ob = new Object();
        ob.id = "<%= obj._id %>"
        var request = new XMLHttpRequest();
        var filename = '/getRequests'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {

            console.log(request.responseText);
            var arrOfObject = JSON.parse(request.responseText)
            var requestArr = arrOfObject.requestin
            for(var i=0;i< requestArr.length;i++)
            {
                // console.log( requestArr[i])
                addRequestdom(requestArr[i])
            }
        
        }
    }
    function addRequestdom(ob)
    {
        var html=''
        html+='<div id="requestDiv'+ob._id+'"><a>'+ob.username+ '</a><button onclick=acceptRequest("'+ob._id+'")>Accept Request</button></div>'
        $('#my-requests').append(html)
    }

    function acceptRequest(id)
    {
        $('#requestDiv'+id).hide();
        var ob = new Object();
        ob.id = id;
        var request = new XMLHttpRequest();
        var filename = '/acceptRequest'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            console.log(request.responseText)
        }
    }


</script>
</html>